:root{
    font-family: myFont;
    color: #FFFDD0;

    /*Paleta de cores da página*/
    --font-color: #FFFDD0;
    --alternative-font-color: #0C0A00;
    --nav-color: #0C0A00;
    --description-color: #303030;
    --list-color: #696969;
    --button-color: #FFBF00;
    --shade-color: rgba(255, 191, 0, 0.25); 
}

@font-face{
    font-family: myFont;
    src:url(Alata-Regular.ttf);
}

/*Tags e Classes de texto*/

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

i{
    font-style: italic;
}

b{
    font-weight: 1000;
}

abbr{
    text-decoration: none;
}

a{
    text-decoration: none;
    display: block;
    color: inherit;
    font-size: 1.2rem;
}

.hobbies h2{
    text-align: end;
}

.tab{
    padding-left: 4em;
}

p{
    margin-bottom: 10px;
    line-height: 1.3rem;
}

.text{
    text-align: justify;
    width: max(350px, 60%);
    padding: 30px;
}

/***********/

/*tags e classes de listas*/

ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hobbies ul{
    flex-direction: row-reverse;
}

#random-facts{
    list-style: number;
    display: inherit;
    flex-wrap: inherit;
    margin-left: 50px;
}

/**********/

/*header*/

header{
    top: 0;
    padding: 20px 5%;
    background-color: var(--nav-color);
    z-index: 3;
    height: 40px;

    display: flex;
    position: sticky;
    justify-content:space-between;
    align-items: center;

    box-shadow: 0px 4px 4px var(--shade-color);
}

.links{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.links a:hover{
    color: var(--button-color);
}

#hamburger-button, label nav, input{
    display: none;
}

label{
    display: none;
    z-index: 3;
    top: 80px;
    left: 0;
    width: 30px;
}

#hamburger-menu{
    display: none;
    position: absolute;
    top: inherit;
    left: inherit;
    width: 100%;
    background-color: var(--nav-color);  
    box-shadow: 0px 4px 4px var(--shade-color);
}

#input-checkbox:checked + label #hamburger-menu{
    display: block;
}

#hamburger-menu a{
    background-color: var(--button-color);
    margin: 5px 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

#hamburger-menu a:hover{
    background-color: var(--list-color);
}

.stripes{
    
    background-color: var(--font-color);
    width: 30px;
    height: 3px;
    margin: 4px;
}

.hamburger-stripes:hover .stripes{
    background-color: var(--button-color);
}

/*********/

/*footer*/

footer{
    bottom: 0;
    padding: 10px 5%;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: var(--button-color);
    border: none;
    text-decoration: none;
    font-family: inherit;
    color: var(--alternative-font-color);
    padding: 5px 20px;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: var(--font-color);
}

footer .links a:hover{
    filter: brightness(0) saturate(100%) invert(89%) sepia(100%) saturate(145%) hue-rotate(359deg) brightness(105%) contrast(101%);
}

/*********/

/*description*/

.description{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;

    padding: 10px 20px;
    background-color: var(--description-color);
}

.image{
    padding: 40px 0;
}

figure img{
    border-radius: 50%;
    width: 300px;
    box-shadow: 0px 4px 4px var(--shade-color);
}

/*********/

/*lists*/

.lists{
    display: flex;
    background-color: var(--list-color);
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.list-element{
    position: relative;
    box-shadow: 0px 4px 4px var(--shade-color);
    border-radius: 10px;
    width: 102px;
    height: 150px;
    margin: 10px 5px;
}

.list-tag{
    position: absolute;
    z-index: 2;
    bottom: 17px;
    width: inherit;
    text-align: center;
}

.list-element img{
    border-radius: inherit;
    max-width: 100%;
    max-height: 100%;
}

.hobbies{   
    margin-bottom: 30px;
}

.index{
    top: 0px;
    left: 6.5px;
    position: absolute;
    z-index: 2;
    padding: 11px 7px;
    background-color: var(--nav-color);
    border-radius: 0 0 5px 5px;
}

.black-text{
    color: var(--alternative-font-color);
}

/*********/

/*animation*/

.list-element:hover img{
    transform:scale(1.1);
}

@keyframes rotation-360{
    100% {transform: rotate(360deg);}
}

.image:hover{
    animation-name: rotation-360;
    animation-duration: 4s;
}

@keyframes rotation-180{
    100% {transform: rotate(180deg);}
}

/* #hamburger-button:hover .stripes{
    animation-name: rotation-180;
    animation-duration: 2s;
} */

#input-checkbox:checked + #hamburger-button .stripes{
    position: absolute;
    margin: 0;
}

#input-checkbox:checked + #hamburger-button #stripe-1{
    animation-name: rotation-45;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#input-checkbox:checked + #hamburger-button #stripe-2{
    display: none;
}

#input-checkbox:checked + #hamburger-button #stripe-3{
    animation-name: rotation-135;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rotation-45{
    100% {transform: rotate(45deg);}

}
@keyframes rotation-135{
    100% {transform: rotate(-45deg);}
}


/*********/

@media only screen and (max-width: 660px){
    header .links{
        display: none;
    }

    .hobbies h2{
        text-align: start;
    }

    footer{
        display: flexbox;
        flex-direction: column-reverse;
    }

    #hamburger-button{
        display: block;
        padding: 10px;
    }

    .hobbies ul{
        flex-direction: row;
    }

    .list-element{
        margin: 10px 10px;
    }
}

@media only screen and (max-width: 400px){
    h1{
        font-size: 1.5rem;
    }

    figure img{
        width: 80vw;
    }
}